ul.selenimation {
	list-style: none;
	display: none;
}

.selenimation-highlighted {
	background: Salmon;
	color: white;
	padding: 2px 0;
}

.selenimation-progress-dotted {
	border-bottom: 2px dotted Salmon;
}
.selenimation-progress-dashed {
	border-bottom: 2px dashed Salmon;
}