ul.selenimation {
	list-style: none;
	list-style-position: inside;
	display: none;
}

.selenimation-highlighted {
	background: Salmon;
	color: white;
	padding: 2px 0;
}

[class|="selenimation-progress"] {
	border-bottom-width: 2px;
	border-bottom-color: Salmon;
}

.selenimation-progress-dotted {
	border-bottom-style: dotted;
}
.selenimation-progress-dashed {
	border-bottom-style: dashed;
}